<!DOCTYPE html>
<html>
  <head>
    <title>My Pokeneas</title>
  </head>
  <body>
    <div class = "align-center">
        <h1><%= data['nombre']; %></h1>
        <img src= http://storage.googleapis.com/pokeneas_images_tis/<%= data['nombre']; %>.png alt = <%= data['nombre']; %>>
        <p><i><%= data['frase']; %></i></p>
        <p>Corriendo desde el contenedor: <%= id_contenedor; %></p>
    </div>
  </body>
</html>